body{
	color: red;
}

header{
	text-transform: uppercase;
	text-align: center;
	font-size: 90px;
}

.left-menu{
	width: 44px;
}

.left-menu a{
	text-decoration: none;
}

.fly-menu{
	position: fixed;
    width: 44px;
}

.fly-menu:hover{
	width: 200px;
	background: #ccc;
}

.fly-menu .button{
	display: flex;
    align-items: center;
}

.additional-menu{
	display: none;
	position: absolute;
    margin-left: 200px;
    background: aliceblue;
	width: 200px;
}

.fly-menu a{
	display: block;
}
li:hover .additional-menu{
	display: block;
}

.button-text{
	display: none;
}

.fly-menu:hover .button-text{
	display: inline;
}


.content{
	flex: 1;
}

.button{
	border: 1px solid red;
    border-radius: 20px;
    padding: 0 10px;
    margin: 2px;
}

.button:hover{
	background: #ccc;
}

.main-content{
	display: flex;
	min-height: calc(100vh - 112px);
}

.image-container{
	display: flex;
	flex-wrap: wrap;
	flex: 1;
}

.hotkey-name{
	font-weight: bold;
	color: blue;
}

.photo-block img{
	max-width: 300px;
    max-height: 150px;
}

.photo-block .image-container{
	border-top: 2px green dotted;
	border-bottom: 2px green dotted;
}

.photo-block{
	border: 2px dotted green;
	width: 300px;
    height: 200px;
	margin: 5px;
    border-radius: 25px;
}

.image-container{
	display: flex;
    justify-content: center;
}

.photo-name{
	display: flex;
	justify-content: center;
}

.button-container{
	display: flex;
	justify-content: space-around;
	height: 35px;
}

.button-container .button{
	flex: 1;
    background: green;
    border-radius: 0;
    margin: 0;
	background: green;
}

.button-container .button:first-child{
	border-bottom-left-radius: 22px;
}

.button-container .button:last-child{
	border-bottom-right-radius: 22px;
}

.button-container .button:nth-child(2n){
	background: yellow;
}

.page{
	display: none;
}

.page:target{
	display: block;
}



.red{
	width: 200px;
	height: 200px;
	background: red;
	position: absolute;
}

footer{
	background: #cccccc;
	display: flex;
    justify-content: space-around;
}



input[type=number]{
	border-color: red;
}

input[type=number]:focus{
	border-color: blue;
}




















